body {
  background-color: #557B83;
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #557B83;
  color: #fff;
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
    background-color: #557B83;
    color: #fff;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  color: #fff;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #fff;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #fff;
}

.sidebar .nav-link.active {
  color: rgb(255, 252, 52);
}

.bg-text-administrator{
  color: #fff;
  font-weight: 700;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar{
  background-color: #39AEA9;
}

.bg-logout{
  background-color: #39AEA9;
  color: #fff;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  color: #fff;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}









/*
 * index dashboard
 */

.bg-my-listbuku, h2{
  color: #fff;
  font-weight: 700;
}

.bg-table-listbuku{
  color: #fff;
}




/*
 * list buku dashboard
 */

 .bg-add-buku{
   color: #fff;
   font-weight: 700;
 }

 .bg-table-list{
   color: #fff;
 }




 /*
 * create buku dashboard
 */

 .title-create-buku{
   color: #fff;
   font-weight: 700;
 }


 .bg-text-create{
   color: #fff;
 }
